<div class="card">
  <div class="image">
    <img [src]="projeto.imagem.url" alt="" />
  </div>
  <article>
    <h6>{{ projeto.titulo }}</h6>
    <p>
      {{ projeto.descricao }}
    </p>
    <div class="techs">
      @for (tecnologia of projeto.tecnologias.split(';'); track $index) {
        <app-icon [icon]="tecnologia"/>

      }
    </div>
  </article>
  <footer>
    @if (projeto.url) { <a [href]="projeto.url" target="_blank">Acessar</a> }
    @if (projeto.github) { <a [href]="projeto.github" target="_blank">Github</a> }
  </footer>
</div>
