<div class="card">
  <div class="image">
    <img src="/assets/dinossauros.jpg" alt="" />
  </div>
  <article>
    <h6>Projeto de site de um exemplo</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      maximus, justo at sagittis imperdiet, justo ipsum maximus lectus, ut
      blandit leo augue ac tellus. Ut ultrices scelerisque pulvinar. Nunc
      laoreet turpis turpis, sit amet sagittis
    </p>
    <div class="techs">
      <app-icon icon="angular"/>
      <app-icon icon="typescript"/>
    </div>
  </article>
  <footer></footer>
</div>
