
.content {
}
h4 {
  font-size: 16px;
  color: var(--dark-purple-200);
}


p {
  font-size: 14px;
  color: var(--dark-purple-100);
}


.container-projects {
  position: relative;
  padding: 6rem 0;

  .left, .right {
    position: absolute;
    z-index: 10;
    width: 4rem;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }
    padding: 0 .5rem;

    transition: .25s;
    &:hover {
      transform: scale(1.05);
      backdrop-filter: brightness(.94);
    }


    @media screen and (max-width: 480px) {
      width: 2rem;
    }

  }
  .left{
    left: 0;
  }
  .right {
    right: 0;
    img {
      transform: rotate(-180deg) ;
    }
  }

}
.projects {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  position: relative;
  justify-content: center;
}
app-card-project:nth-child(1),  app-card-project:nth-child(3){
  filter: blur(4px);
  position: absolute;
  @media screen and (max-width: 480px) {
    display: none;
  }
}


app-card-project:nth-child(2) {
  position: relative;
  z-index: 5;
  margin-top: 2rem;
}
app-card-project:nth-child(1){
  left: 0;
}
app-card-project:nth-child(3){
  right: 0;
}