<section>
  <div class="container">
    <div class="content-page">
      <div class="title-page">
        <h1>MEUS ESTUDOS</h1>
        <div>
          <h2>Projetos de Estudo</h2>
          <hr />
        </div>
      </div>

      <div class="container-projects">
        <div class="left" (click)="selectLeft()">
          <img src="/assets/svg/arrow-left.svg" alt="" srcset="" />
        </div>
        <div class="projects">
          @for (projeto of projectListSelected; track $index) {
            <app-card-project [projeto]="projeto" />
          }
        </div>
        <div class="right" (click)="selectRight()">
          <img src="/assets/svg/arrow-left.svg" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
</section>
