<section>
  <div class="container">
    <div class="content-page">
      <div class="title-page">
        <h1>MEUS ESTUDOS</h1>
        <div>
          <h2>Projetos de Estudo</h2>
          <hr />
        </div>
      </div>

      <div class="content">
        <h4 class="font-display">Em construção....</h4>
        <p class="font-main">
          Estou atualizando os projetos antigos para novas versões, com novas
          tecnologias e colocando em pratica meus novos conhecimentos. Em breve
          postarei nessa sessão
        </p>
      </div>
    </div>
  </div>
</section>
