section {
  padding: 6rem 0 10rem;
}

h2 {
  text-align: center;
}
.container-projetos {
  position: relative;

  .left, .right {
    position: absolute;
    z-index: 10;
    width: 4rem;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }


  @media screen and (max-width: 480px) {
    width: 2rem;
  }

  }
  .left{
    left: 0;
    img {
      transform: rotate(45deg);
    }
  }
  .right {
    right: 0;
    img {
      transform: rotate(-45deg) ;
    }
  }

}
.projetos {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  position: relative;
  justify-content: center;
}
app-card-projeto:nth-child(1),  app-card-projeto:nth-child(3){
  filter: blur(4px);
  position: absolute;
  @media screen and (max-width: 480px) {
    display: none;
  }
}


app-card-projeto:nth-child(2) {
  position: relative;
  z-index: 5;
  margin-top: 2rem;
}
app-card-projeto:nth-child(1){
  left: 0;
}
app-card-projeto:nth-child(3){
  right: 0;
}
