.text-chip {
  display: flex;
  gap: 1rem;
}

.frame {
  background: var(--dark-purple-800);
  border: 2px solid var(--purple-500);
  border-radius: 0.5rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 1.5rem;
  color: white;
}

p {
  font-size: 1rem;
  color: var(--dark-purple-100);
}
:host {
  ::ng-deep {
    .text-chip svg {
      width: 3.5rem;
    }
  }
}
