.card {
  background: var(--dark-purple-900);
  padding: 1rem;
  border: 2px solid var(--purple-500);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  // max-width: 356px;
  // @media screen and (max-width: 550px) {
  //   max-width: 260px;
  // }
  // @media screen and (max-width: 400px) {
  //   max-width: 200px;
  // }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  .tag {
    background: var(--purple-500);
    border-radius: 0.25rem;
    padding: 0.15rem 0.5rem;
    color: var(--dark-purple-100);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
  }
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h6 {
  font-size: 1.5rem;
  color: white;
  font-size: 1.25rem;
  font-family: "Ubuntu", sans-serif;
}

p {
  color: var(--dark-purple-100);
  font-size: 1rem;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-family: "Arima", sans-serif;
}
