.card {
  background: var(--dark-purple-900);
  padding: 1rem;
  border: 2px solid var(--purple-500);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 356px;
  height: 31rem;
  @media screen and (max-width: 550px) {
    width: 300px;
    h6 {
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 400px) {
    width: 260px;
    h6 {
      font-size: 1.2rem;
    }
  }
}
.card::ng-deep {
  path {
    fill: var(--purple-500);
  }
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  width: 100%;
  height: 12rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h6 {
  font-family: "Arima", sans-serif;
  line-height: 1;
  font-size: 1.5rem;
  color: var(--purple-500);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

p {
  font-family: "Ubuntu", sans-serif;
  color: var(--dark-purple-100);
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.card::ng-deep {
  app-svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    width: 1.5rem;
    height: auto;
  }
}

.techs {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.75rem;
}

footer {
  display: flex;
  gap: 1rem;
  a {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    color: var(--purple-500);
    display: inline-block;
    padding: 0.5rem;
    border: 0.5px solid var(--purple-700);
    background: var(--dark-purple-900);
    border-radius: 4px;
    transition: 0.2s;
    font-weight: 500;
    &:hover {
      background: #131419;
    }
  }
}

div.techs::ng-deep {
  path {
    fill: var(--purple-500);
  }
}
