section {
  padding: 6rem 0 8rem;
}

.container-tech {
  display: flex;
  align-items: center;
  gap: .75rem;
  flex-wrap: wrap;
  @media screen and (max-width: 350px) {
    justify-content: space-between;
  }
}

.tech-chip {
  border-radius: .5rem;
  background: #393649;
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: .5rem;
  width: 7rem;
  height: 7rem;

  &::ng-deep {
    app-icon svg {
      width: 3rem;
      height: auto;
      max-height: 3.5rem;
    }
  }

  span {
    display: inline-block;
    width: 100%;
    color: #4DFEAD;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
  }
}
