<section>
  <div class="container">
    <div class="content-page">
      <div class="title-page">
        <h1>O que eu faço?</h1>
        <div>
          <h2>PRINCIPAIS FUNÇÕES</h2>
          <hr />
        </div>
      </div>

      <div class="container-functions">
        <app-text-chip title="Front-End" icon="monitor">
          Projeto, desenvolvimento e implantação de sistemas web responsivos e
          confiável
        </app-text-chip>
        <app-text-chip title="Back-End" icon="cloud-engine">
          Projeto, desenvolvimento e implantação de APIs e Microserviços para a
          Cloud
        </app-text-chip>
        <app-text-chip title="UI / UX" icon="design">
          Tenho autonomia para criar interfaces web dentro da minha equipe
        </app-text-chip>
        <app-text-chip title="Engenharia de Software" icon="engine">
          Penso e projeto softwares ponta a ponta
        </app-text-chip>
      </div>
    </div>
  </div>
</section>
