<div class="window">
  <header>
    <h5>Minhas Redes</h5>
  </header>
  <div class="container-window">
    <a href="https://www.linkedin.com/in/yangabriel/" target="_blank">
      <img src="/assets/redes/linkedin.png" alt="" />
      <span>Linkedin</span>
    </a>
    <a href="https://github.com/Yancap" target="_blank">
      <img src="/assets/redes/github.png" alt="" />
      <span>Github</span>
    </a>
    <a href="" download>
      <img src="/assets/redes/download.gif" alt="" />
    </a>
  </div>
</div>
