<header>
  <div class="container">
    <h2>
      YAN PORTFOLIO
    </h2>
    <nav>
      <a href="#experiencias">Experiencias</a>
      <a href="#habilidades">Habilidades</a>
      <a href="#projetos">Projetos</a>
    </nav>
    <div class="relogio">
      <time datetime="">12:30</time>
    </div>
  </div>
</header>
<main>
    <app-apresentacao />
    <app-conhecimentos-tecnicos />
    <app-experiencias />
    <app-projetos />
</main>
<footer>
  <a class="github" href="https://github.com/Yancap" target="_blank">
    GITHUB
  </a>
  <a class="linkedin" href="https://www.linkedin.com/in/yangabriel/" target="_blank">
    LINKEDIN
  </a>
  <a class="cv" href="" download>
    DOWNLOAD CV
  </a>
</footer>
