header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-purple-900);
  height: 3rem;
  width: 100%;
  z-index: 5;

  .container {
    height: 100%;
    padding: 0.5rem;

    display: flex;
    align-items: center;
  }
}

nav {
  display: none;
  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    background: #5653f41e;

    animation: openMenuBlur 0.2s forwards;
    z-index: 10;
  }

  .bg-menu {
    position: fixed;
    background: var(--dark-purple-900);
    border-radius: 0 0 10rem 0;
    z-index: 15;

    animation: openMenu 0.2s forwards;
  }

  .return-menu {
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.25rem;
      cursor: pointer;

      a {
        font-family: "Arima", sans-serif;
        font-weight: bold;
        color: var(--dark-purple-100);
      }

      &:hover {
        a {
          color: var(--purple-500);
        }
      }
      &.active {
        a {
          color: var(--purple-500);
        }
      }
    }
  }
}

main {
  background: var(--dark-purple-800);
  min-height: 300vh;
}

@keyframes openMenu {
  from {
    padding: 0rem 0rem 0rem 0rem;
  }
  to {
    padding: 1.5rem 5rem 7rem 1.5rem;
  }
}

@keyframes openMenuBlur {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(5px);
  }
}

:host {
  ::ng-deep {
    app-svg.menu {
      svg {
        width: 1.5rem;
        cursor: pointer;
      }
    }

    .return-menu {
      svg {
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
        path {
          fill: var(--purple-500);
        }
      }
    }

    .bg-menu li:hover {
      svg path {
        fill: var(--purple-500);
      }
    }

    .bg-menu li.active {
      a {
        color: var(--purple-500);
      }
      svg path {
        fill: var(--purple-500);
      }
    }
  }
}
