<section>
  <div class="container">
    <article>
      <div class="text-chip">
        <span> ✌️ Olá, me chamo Yan Gabriel </span>
      </div>
      <h1></h1>
      <div class="sobre-mim">
        <picture>
          <img src="/assets/avatar.png" alt="">
        </picture>
        <div class="content">
          <div>
            <h4>Sobre mim</h4>
            <h6>{{ocupacaoAtual}}</h6>
            <div class="descricao"></div>
          </div>
          <div class="certificacoes">
            <h4>Certificações Relevantes</h4>
            <div>
              <img src="/assets/certificacoes/az-900.png" alt="">
              <img src="/assets/certificacoes/agile-badge.png" alt="">
              <img src="/assets/certificacoes/industry-badge.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="contatos">
        <a href="https://github.com/Yancap" target="_blank">
          <img src="/assets/redes/github.svg" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/yangabriel/" target="_blank">
          <img src="/assets/redes/linkedin.svg" alt="linkedin">
        </a>
        <a href="https://www.linkedin.com/in/yangabriel/" target="_blank">
          <img src="/assets/redes/whatsapp.svg" alt="whatsapp">
        </a>
        <a class="cv" href="" download>
          DOWNLOAD CV
        </a>
      </div>
      <div class="formacoes">
        <h2>Formações Academicas</h2>
        <div>
          @for (formacao of listaFormacoes; track $index) {
            <app-card [titulo]="formacao.titulo" [descricao]="formacao.descricao" [tags]="formacao.tags"/>

          } @empty { }
        </div>
      </div>
    </article>
  </div>
</section>
