<section>
  <article>
    <div class="text-chip">
      <span> ✌️ Olá, me chamo Yan Gabriel </span>
    </div>
    <h1>
      Sou <strong>DESENVOLVEDOR FULLSTACK</strong> com <strong>ANGULAR</strong> e
      <strong>JAVA QUARKUS</strong>
    </h1>
    <p>
      Fala resumidamente sobre o que sou e sobre meu trabalho com no maximo 4
      linhas. Lorem Ipsum dolor sit amet. Nunc congue, metus in imperdiet
      molestie, ligula est iaculis nulla, non accumsan erat turpis nec elit.
      linhas. Lorem Ipsum dolor sit amet. Nunc congue, metus in imperdiet
    </p>
    <ul>
      <li>
        <h4>Técnico em Desenvolvimento de Sistemas</h4>
        <p>Fundação Bradesco</p>
        <span>2022 - 2024</span>
      </li>
    </ul>
    <div >
      <app-janela-certificacoes />
    </div>
  </article>
  <div>
    <app-janela-redes />
  </div>
</section>
