.container-about-me {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;

  padding: 6rem 0;

  .experience {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 40rem;
    align-items: flex-start;
    h3 {
      font-size: 1.5rem;
      color: white;
    }
    p {
      color: var(--dark-purple-100);
      font-size: 1rem;
      strong {
        color: var(--purple-300);
      }
    }

    app-button {
      margin-top: 2rem;
    }
  }

  .info-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (max-width: 764px) {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    .experience {
      text-align: center;
      align-items: center;
      flex-basis: auto;
    }
    .info-me {
      display: inline-grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      width: 100%;
      align-items: end;
      gap: 1rem;
    }
  }

  
  @media (max-width: 400px) {
    
    .info-me {
      display: inline-grid;
      grid-template-columns: 1fr;
      justify-content: space-between;
      width: 100%;
      align-items: end;
      gap: 1rem;
    }
  }
}

.info-card {
  display: flex;
  flex-direction: column;
  h4 {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    margin-bottom: 4px;
  }
  p {
    font-family: "Ubuntu", sans-serif;
    color: var(--dark-purple-100);
    font-size: 1rem;
    margin-bottom: 6px;
  }

  hr {
    border: 1px solid var(--purple-500);
    width: 6rem;
  }

  @media (max-width: 400px) {
    text-align: center;
    align-items: center;
  }
}

.container-college {
  padding: 4rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
