<section>
  <div class="container">
    <div class="content">
      <div class="titles">
        <h2 class="font-display">Oi, sou o</h2>
        <h1 class="font-main">Yan Gabriel Ferreira</h1>
        <div class="title-3">
          <h3 class="font-display">Fullstack Developer | Java | Angular</h3>
          <hr />
        </div>
        <div class="container-certifications">
          <img
            src="/assets/certifications/aws-cloud.png"
            alt="Certificação AWS Cloud Practitioner - CLF-C02"
          />
          <img
            src="/assets/certifications/aws-ai.png"
            alt="Certificação AWS Certified AI Practitioner - AIF-C01"
          />
          <img
            src="/assets/certifications/azure-cloud.png"
            alt="Certificação Azure Foundation - AZ-900"
          />
          <img
            src="/assets/certifications/industry-badge.png"
            alt="Badge de Banking Jumpstart"
          />
        </div>
      </div>
      <div class="container-contacts">
        <a href="https://www.linkedin.com/in/yangabriel/" target="_blank">
          <app-button>
            <app-svg name="linkedin" />
          </app-button>
        </a>

        <a href="https://github.com/Yancap" target="_blank">
          <app-button>
            <app-svg name="github" />
          </app-button>
        </a>

        <a href="https://wa.me/5521991642554" target="_blank">
          <app-button>
            <app-svg name="whatsapp" />
          </app-button>
        </a>

        <a href="" target="_blank">
          <app-button> Download CV </app-button>
        </a>
      </div>
      
    </div>
  </div>
</section>
