.version {
  font-size: 12px;
  color: var(--dark-purple-300);
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  background: var(--dark-purple-900);
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;
  background-image: url("/assets/background.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
  height: 100%;
  padding: 4rem 0 0 0;
  .title-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  color: var(--purple-500);
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

h2 {
  color: var(--dark-purple-100);
  font-weight: 400;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

h3 {
  color: var(--dark-purple-100);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

hr {
  border: 1px solid var(--purple-500);
  width: 75%;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container-certifications {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 4rem 0;

  img {
    width: 4rem;
    height: auto;
  }

  @media (max-width: 400px) {
    padding: 2rem 0;
  }
}

.container-contacts {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;

  @media (max-width: 400px) {
    margin-top: 4rem;
  }
}

a,
a::-webkit-any-link {
  color: var(--purple-500) !important;
}
