/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', sans-serif;
}

html {
  @media screen and (max-width: 952px) {
    font-size: 14px;
  }
}

h2.titulo-section {
  font-size: 2.75rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #4DFEAD;
  margin-bottom: 2rem;

  @media screen and (max-width: 400px) {
    font-size: 2.25rem;
  }
}

.container {
  max-width: 1128px;
  margin: 0 auto;

  @media screen and (max-width: 1158px) {
    padding: 0 1rem;
  }
}
